.forecast {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.forecast > h1,
.day-forecast {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url("/shared-assets/images/examples/rain.svg") white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: 0.2rem;
    font-size: 1rem;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
}
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.logo {
    background: left/cover
        url("/shared-assets/images/examples/puppy-header.jpg");
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) "Dancing Script", fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
}

header > h1 {
    margin-bottom: 0;
}

header > time {
    font: italic 0.7rem sans-serif;
}
