/* 배경색 회색, 간격 0 */
.forecast {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

/* 간격 0.5rem,0.3rem, 글자 크기 1.2rem */
/* 1rem = 16px,실무에서 많이 씀 */
.forecast > h1,
.day-forecast {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

/* 이미지를 오른쪽에 비율 유지하면서 꽉 차게 배치, 콘텐츠 영역 기준으로 위치 잡음,
배경 칠할 범위를 보더까지 포함,이미지 반복 안 함, 배경에 쓸 이미지 파일 경로,배경색 흰색 */
.day-forecast {
    background: right/contain content-box border-box no-repeat
        url("/shared-assets/images/examples/rain.svg") white;
}

/* 간격 0.2rem(3.2px), 폰트 크기 1rem(16px) */
.day-forecast > h2,
.day-forecast > p {
    margin: 0.2rem;
    font-size: 1rem;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 0.5rem;
}
article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.logo {
    background: left/cover
        url("/shared-assets/images/examples/puppy-header.jpg");
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) "Dancing Script", fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
}

header > h1 {
    margin-bottom: 0;
}

header > time {
    font: italic 0.7rem sans-serif;
}

.main-header {
    font: bold 7vw Arial, sans-serif;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after {
    display: inline-block;
    color: #000;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

h1,
h2 {
    margin: 0;
}
