body {
    background-color: #f1f0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.card {
    background-color: white;
    height: 60vh;
    text-align: center;
    border-radius: 5%;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    box-sizing: border-box;
    width: 300px;
    height: 75px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
div img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    color: gray;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
